<a href="https://colab.research.google.com/github/eforcoding/Tugas/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
namad = "Joko "
namab = "Hendra"
umur = "25"
tinggi = "1.7"
beratbadan = "72"
ukuranb = "m"
statusp = "Sudah menikah"
nama = namad + namab
print(f"Nama saya {nama} umur saya {umur} tinggi saya {tinggi}m berat badan saya {beratbadan}kg ukuran baju saya {ukuranb}")

Nama saya Joko Hendra umur saya 25 tinggi saya 1.7m berat badan saya 72kg ukuran baju saya m

In [ ]:
#2
nama1 = "Mohammed "
nama2 = "Hammedy"
print(nama1 + nama2)
nama1 = "muhammad  "
nama2 = "Hamdani"
print(nama1 + nama2)

Mohammed Hammedy
muhammad  Hamdani

In [ ]:
#3
namaa = input("Masukkan nama depan :")
namac = input("Masukkan nama belakang :")
umur1 = input("Masukkan umur :")
tinggi1 = input("Masukkan tinggi (m):")
beratbada1 = input("Masukkan berat badan (kg) :")
status = input("Statu pernikahan (Sudah menikah/perjaka) :")
namag = namaa + namac
print(f"Nama saya {namag} umur saya {umur1} tinggi saya {tinggi1}m berat badan saya {beratbada1}kg status pernikahan  {status}")

Masukkan nama depan :asd
Masukkan nama belakang :dsa
Masukkan umur :23
Masukkan tinggi (m):23
Masukkan berat badan (kg) :23
Statu pernikahan (Sudah menikah/perjaka) :43
Nama saya asddsa umur saya 23 tinggi saya 23m berat badan saya 23kg status pernikahan  43

In [ ]:
#4

In [ ]:
#5
lebar = int(input("Masukkan lebar tanah :"))
panjang = int(input("Masukkan panjang tanah :"))
luas = panjang + lebar
hargat = 300000
harga = hargat * luas
print(f"Luas tanah {luas} harga yang harus dibayar {harga}")

Masukkan lebar tanah :3
Masukkan panjang tanah :2
Luas tanah 5 harga yang harus dibayar1500000

In [ ]:
#6
input1 = int(input("Masukkan nilai 1 :"))
input2 = int(input("Masukkan nilai 2 :"))
print(input1 + input2)
print(input1 - input2)
print(input1 / input2)
print(input1 * input2)
print(input1 % input2)

Masukkan nilai 1 :2
Masukkan nilai 2 :4
6
-2
0.5
8
2

In [ ]:
7#
user = input("Masukkan user anda : ")
password = input("Masukkan password anda :")
if user == "Joko" and password == "1234":
  print("Login sukses")
else:
  print("Login gagal")

Masukkan user anda : Joko
Masukkan password anda :1234
Login sukses

In [ ]:
#8
gaji = int(input("Masukkan gaji bulanan :"))
pajak = 2.5/100
gajitahun = gaji*12
gaji1 = gajitahun*pajak 
print(f"Gaji perbulan {gaji} gaji pertahun {gajitahun} pajak yang harus dibayar pertahun {gaji1} ")\

Masukkan gaji bulanan :100
Gaji perbulan 100 gaji pertahun 1200 pajak yang harus dibayar pertahun 30.0

In [ ]:
#9
for k in range(0, 101, 2):
  if k%3 != 0:
    print(k)

In [ ]:
#10
for n in range(0, 101, 2):
  if n%5 == 0:
    print(n)